.crazy-socks-drawer {
  background-color: #01FF70;
  background-image: url("../crissxcross.png"); }

.sock {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  padding: 5px; }

.sock-prince {
  background-color: #8e9def; }

.sock-prince-comp {
  background-color: #efe08e; }
  .sock-prince-comp .rocks {
    background-color: #111111;
    color: #AAAAAA; }
  .sock-prince-comp .sticks {
    background-color: #d87565; }
  @media only screen and (max-width: 800px) {
    .sock-prince-comp .sticks {
      height: 50px; } }

.sock-less-opaque {
  background-color: rgba(142, 157, 239, 0.7);
  background-color: #B10DC9; }
  @media only screen and (max-width: 800px) {
    .sock-less-opaque .rocks {
      display: none; } }

.sock-scaled {
  background-color: rgba(137, 154, 244, 0.5); }

.stuffed-socks {
  background-color: #39CCCC;
  padding: 15px; }

.stuff-red {
  background-color: #FF4136; }

.stuff-red, .stuff-ed-socks {
  text-align: center; }

.stuff h1 {
  color: #B10DC9;
  transition: color 0.8s ease-out; }
  .stuff h1:hover {
    color: #7FDBFF; }
  .stuff h1::before {
    display: block;
    font-size: 10px;
    color: #AAAAAA;
    content: "Wasif's test website!"; }
  .stuff h1::before:hover {
    color: #AAAAAA; }
