.crazy-socks-drawer {
  background-color: #01FF70; }

.sock-prince {
  background-color: #8e9def; }

.sock-prince-comp {
  background-color: #efe08e; }

.sock-less-opaque {
  background-color: rgba(142, 157, 239, 0.7); }

.stuffed-socks {
  background-color: #39CCCC;
  padding: 15px; }

.stuff-red {
  background-color: #FF4136; }

.stuff-red, .stuff-ed-socks {
  text-align: center; }

.stuff h1 {
  color: #B10DC9;
  transition: color 0.8s ease-out; }
  .stuff h1:hover {
    color: #7FDBFF; }
  .stuff h1::before {
    display: block;
    font-size: 10px;
    color: #AAAAAA;
    content: "Wasif's test website!"; }
  .stuff h1::before:hover {
    color: #AAAAAA; }
