@import "colors.scss";

$socks: crazy-socks;
$sock: sock;

.#{$socks}-drawer {
	// interpolation...
	// only works with classes, doesn't work with Ids or tags?
	background-color: $lime;
}

// first param: base color
// second param: mix color
// third param: set % of the base color, default 50%
$purpleAqua: mix($purple, $aqua, 30%);

// complement
$cpa: complement($purpleAqua);

.#{$sock}-prince {
	background-color: $purpleAqua;
}

.#{$sock}-prince-comp {
	background-color: $cpa;
}

.#{$sock}-less-opaque {
	// decreases the opacity by 0.3
	background-color: transparentize($purpleAqua, .3);
}

.stuff {
	&-container {
		// any class named stuff-container
		// useful for showing relations
		// such as btn, btn-blue
		// design one btn class and name sub-classes here
	}

	&ed-socks {
		// any class named stuffed-socks
		// prob not intended use
		background-color: $teal;
		padding: 15px;
	}

	&-red {
		background-color: $red;
	}

	&-red, &-ed-socks {
		text-align: center;
	}


	h1 {

		color: $purple;
		transition: color 0.8s ease-out;

		// apply something to h1 "when" it hovers?
		// &:hover & { color: $aqua }

		&:hover {
			color: $aqua;
		}

		&::before {
			display: block;
			font-size: 10px;
			color: $gray;
			content: "Wasif's test website!";

			// 4 levels deep! bad!
			// &:hover { color: $black; }
		}

		// better..
		&::before:hover { color: $gray; }

	}

	nav {

		figure {

		}
	}
}
